<html>
        <head>
            <title>Django Girls blog 2017</title>
        </head>
        <body>
            <div>
                <h1><a href="">Django Girls Blog</a></h1>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My first post</a></h2>
                <p>Fui muy feliz en esta experiencia,desearia poder seguir aprendiendo. </p>
            </div>

            <div>
                <p>published: 14.06.2014, 12:14</p>
                <h2><a href="">My second post </a></h2>
                <p>Nico te extrañe mucho .</p>
            </div>
        </body>
    </html>